.button {
    -fx-background-color: #fff;
    -fx-text-fill: #999;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: #d8d8d8;
    -fx-font-size: 12pt;
    -fx-effect: dropshadow(three-pass-box, #222, 4, 0.0, 4, 4);
}

.button:hover {
    -fx-background-color: #f2f2f2;
}

#hBox2 {
    -fx-background-color: #f2f2f2;
    -fx-effect: dropshadow(three-pass-box, #222, 4, 0.0, 4, 4);
    -fx-min-width: 680px;
    -fx-max-width: 680px;
    -fx-min-height: 56px;
    -fx-max-height: 56px;
}

#txtField {
    -fx-background-color: #f2f2f2;
    -fx-border-width: 0;
    -fx-text-fill: #999;
    -fx-font-size: 24px;
    -fx-padding: 10px;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
}

#btnAnalizar {
    -fx-border-width: 0 1px;
}

#canvas, #pane {
    -fx-background-color: white;
}